<h1>¡VØLUNTEER!</h1>
<h3>Name: <%= @volunteer.name %></h3>
<h3>Project: <%= @project.title %> </h3>


<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value ="patch">
  <label for="name">Edit volunteer for "<%= @project.title %>"</label>
  <input id="name" name="name"  type="text">
<button type="submit" >Update Volunteer</button>
</form>

<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value ="delete">
  <button type="submit" class="btn">Delete Volunteer</button>
 </form>




<p><a href="/projects">Return to Projects List list</a></p>
